.b-cv{
    &__main{
        margin-top: 2rem;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    &__width{
        width: 80%;
    }
    &__img{
        width:100%;
        margin-bottom: 2rem;
        display: none;
    }
}