.b-carrousell{
    color: white;
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    margin-top: 4rem;
    
    &__container_1{
        display:flex;
        width: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    &__container_2{
        display:flex;
        width: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    &__img{
        min-width:50%;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
     
    }
    &__arrow{
        position: absolute;
        width:30px;
        height: 50%;
        
        top: calc(50%-25%);
        cursor: pointer;
        z-index:1;
        background-color: rgba(137, 43, 226, 0.212);
        &--right{
            right:0px
        }
        &--left{
            left: 0px
        }
    }
}