body {
  margin: 0 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 

}

.b-app{
  background-color: #e5e5e5;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.navFade-enter {
  opacity: 0;
  z-index: 1;
}

.navFade-enter.navFade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}


.slide-enter {
  opacity: 0;
}
  
.slide-exit {
  transition: transform 1000ms ease-out;
  transition: opacity 0 250ms ease-in;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
  opacity: 0;
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

